// Navigation code here

.header-content{
    // position: fixed;
    width: 100%;
    background: @nav-bg;
    border:1px solid @nav-border;
    // opacity: .75;

    h1{
        padding-top: 1%;
        text-align: center;
        font-size: 4rem;
        padding-bottom: 1%;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        font-size: 1.7rem;
        padding: 1% 22.4%;

        @media @phone{
            justify-content: space-between;
            padding: 1.5% 11%;
        }

        a{
            text-decoration: none;
            color: @nav-font;

            &:hover{
                animation: colorChange 1s infinite;

            }
        }
    }
    header{
        max-width: 800px;
        margin: 0 auto;

        @media @phone{
            width: 100%;
        }
    }
}

@keyframes colorChange{
    50%{
        color: white;
    }
    75%{
        color: @nav-font;
    }
}